/*set up base game*/
*{
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title{
    text-align: center;
}

#UI{
    display: flex;
    justify-content: center;    
}

#scoreCard, #timeCard{
    display: flex;
    align-items: center;
    padding-right: 2rem;
}

#scoreCard > h2, #timeCard >h2{
    padding-right: 1rem;
}

#gameBoard{
    border: black solid 3px;
    width: 510px;
    height: 510px;
    margin: auto;
    table-layout: fixed;
    border-collapse: collapse;
}

.dg{
    background-color: darkgray;
}

.lg{
    background-color: lightgray;
}

#start{
    width: 100px;
    height: 50px;
    font-size:x-large;
    font-weight: 300;
    border-radius: 10%;
    margin-top: 1rem;
}

#highScore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

#highScore > h2{
    padding-right: 1rem;
}


/*snake class*/
.snake{
    background-color: green;
}

/*food class*/
.food{
    background-color: #D80C0C;
}